body {
  font-family:  -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Droid Sans", "Helvetica Neue", sans-serif;
  margin: 0;
  padding: 0;
  color: #333;
  font-size: 14px;
  line-height: 1.4rem;
  font-weight: 300;
  -webkit-overflow-scrolling: touch;
  -webkit-text-size-adjust: 100%;
}

/* Mozilla based browsers */
::-moz-selection {
       background-color: #FFA;
       color: #000;
}

/* Works in Safari */
::selection {
       background-color: #FFA;
       color: #000;
}

@keyframes bounce-down {
  0% {
    opacity: 0;
    transform: scale(0.6) translateY(-5px);
  }

  80% {
    opacity: 1;
    transform: scale(1.05) translateY(0px);
  }

  90% {
    transform: scale(0.975);
  }

  100% {
    transform: scale(1);
  }
}

input, textarea, select {
  font-family: -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Droid Sans", "Helvetica Neue", sans-serif;
}

body, body * {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: column;
  align-items: stretch;
  box-sizing: border-box;
  /* flex-wrap: nowrap;*/
  flex-shrink: 0;
  -webkit-flex-flow: column;
  -webkit-align-items: stretch;
  outline: 0;
}

/* prevent overscroll bounce */
html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#app {
  height: 100%;
  position: relative;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

/* reset elements from flex */

a, input, textarea {
  align-self: flex-start;
}

a, span, em, b, strong, i {
  white-space: pre-wrap;
  display: inline;
}

script, meta, link {
  display: none;
}

a, input, textarea, select {
  outline: 0;
}

p, h1, h2, h3, h4, h5, h6, br {
  display: block;
}

p, h1, h2, h3, h4, h5, h6, code, pre {
  margin-top: 0;
  margin-bottom: 0;
}

pre, code {
  margin: 0;
  display: block;
}

code {
  margin: 10px;
  padding: 10px;
  overflow: scroll;
}

img {
  display: block;
}

li {
  display: list-item;
}

p code {
  display: inline-block;
  padding: 0;
}


table {
  display: table;
}
tr {
  display: table-row;
}
thead {
  display: table-header-group;
}
tbody {
  display: table-row-group;
}
tfoot {
  display: table-footer-group;
}
col {
  display: table-column;
}
colgroup {
  display: table-column-group;
}
td, th {
  display: table-cell;
}
caption {
  display: table-caption;
}


/* Reset 2.0 */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

.react-grid-layout {
  position: relative;
  transition: height 200ms ease;
}

.react-grid-item > .react-resizable-handle {
  position: absolute;
  width: 20px;
  height: 20px;
  bottom: 0;
  right: -5px;
  background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBzdGFuZGFsb25lPSJubyI/Pg08IS0tIEdlbmVyYXRvcjogQWRvYmUgRmlyZXdvcmtzIENTNiwgRXhwb3J0IFNWRyBFeHRlbnNpb24gYnkgQWFyb24gQmVhbGwgKGh0dHA6Ly9maXJld29ya3MuYWJlYWxsLmNvbSkgLiBWZXJzaW9uOiAwLjYuMSAgLS0+DTwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+DTxzdmcgaWQ9IlVudGl0bGVkLVBhZ2UlMjAxIiB2aWV3Qm94PSIwIDAgNiA2IiBzdHlsZT0iYmFja2dyb3VuZC1jb2xvcjojZmZmZmZmMDAiIHZlcnNpb249IjEuMSINCXhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHhtbDpzcGFjZT0icHJlc2VydmUiDQl4PSIwcHgiIHk9IjBweCIgd2lkdGg9IjZweCIgaGVpZ2h0PSI2cHgiDT4NCTxnIG9wYWNpdHk9IjAuMzAyIj4NCQk8cGF0aCBkPSJNIDYgNiBMIDAgNiBMIDAgNC4yIEwgNCA0LjIgTCA0LjIgNC4yIEwgNC4yIDAgTCA2IDAgTCA2IDYgTCA2IDYgWiIgZmlsbD0iIzAwMDAwMCIvPg0JPC9nPg08L3N2Zz4=');
  background-position: bottom right;
  padding: 0 3px 3px 0;
  background-repeat: no-repeat;
  background-origin: content-box;
  box-sizing: border-box;
  cursor: se-resize;
}

.react-grid-item {
  display: block;
  transition: all 200ms ease;
  transition-property: left, top;
}

.react-grid-item.cssTransforms {
  transition-property: transform;
}

.react-grid-item.react-grid-placeholder {
  background: #ddd;
  opacity: 0.2;
  transition-duration: 100ms;
  z-index: 2;
  user-select: none;
}

.react-grid-item.react-draggable-dragging {
  transition: none;
  z-index: 3;
  will-change: transform;
}

.react-grid-item.resizing {
  z-index: 4;
  will-change: width, height;
}
