body {
  font-family: 'Raleway', -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Droid Sans", "Helvetica Neue", sans-serif;
  margin: 0;
  padding: 0;
  color: #333;
  font-size: 14px;
  line-height: 1.6rem;
  font-weight: 300;
  -webkit-overflow-scrolling: touch;
  -webkit-text-size-adjust: 100%;
  overflow: hidden;
}

body, body * {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: column;
  align-items: stretch;
  box-sizing: border-box;
  /* flex-wrap: nowrap;*/
  flex-shrink: 0;
  -webkit-flex-flow: column;
  -webkit-align-items: stretch;
  outline: 0;
}

/* prevent overscroll bounce */
html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#app {
  height: 100%;
  position: relative;
}

/* reset elements from flex */

a, input, textarea {
  align-self: flex-start;
}

a, span, em, b, strong, i {
  white-space: pre-wrap;
  display: inline;
}

script, meta, link {
  display: none;
}

a, input, textarea, select {
  outline: 0;
}

p, h1, h2, h3, h4, h5, h6, br {
  display: block;
}

p, h1, h2, h3, h4, h5, h6, code, pre {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

pre, code {
  margin: 0;
  display: block;
}

code {
  margin: 10px;
  padding: 10px;
  overflow: scroll;
}

img {
  display: block;
}

li {
  display: list-item;
}

p code {
  display: inline-block;
  padding: 0;
}


table {
  display: table;
}
tr {
  display: table-row;
}
thead {
  display: table-header-group;
}
tbody {
  display: table-row-group;
}
tfoot {
  display: table-footer-group;
}
col {
  display: table-column;
}
colgroup {
  display: table-column-group;
}
td, th {
  display: table-cell;
}
caption {
  display: table-caption;
}


/* Reset 2.0 */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}
