@font-face {
  font-family: 'GT Eesti';
  src: url('./GT-Eesti-Display-Thin.eot');
  src: url('./GT-Eesti-Display-Thin.eot') format('embedded-opentype'),
    url('./GT-Eesti-Display-Thin.woff2') format('woff2'),
    url('./GT-Eesti-Display-Thin.woff') format('woff'),
    url('./GT-Eesti-Display-Thin.ttf') format('truetype');
  font-weight: 300;
  font-style: 300;
}

@font-face {
  font-family: 'GT Eesti';
  src: url('./GT-Eesti-Display-Light.eot');
  src: url('./GT-Eesti-Display-Light.eot') format('embedded-opentype'),
    url('./GT-Eesti-Display-Light.woff2') format('woff2'),
    url('./GT-Eesti-Display-Light.woff') format('woff'),
    url('./GT-Eesti-Display-Light.ttf') format('truetype');
  font-weight: 400;
  font-style: 400;
}

@font-face {
  font-family: 'GT Eesti';
  src: url('./GT-Eesti-Display-Bold.eot');
  src: url('./GT-Eesti-Display-Bold.eot') format('embedded-opentype'),
    url('./GT-Eesti-Display-Bold.woff2') format('woff2'),
    url('./GT-Eesti-Display-Bold.woff') format('woff'),
    url('./GT-Eesti-Display-Bold.ttf') format('truetype');
  font-weight: 500;
  font-style: 500;
}
