{
  "plugins": [
    [
      "gloss/transform",
      {
        "decoratorName": "view"
      }
    ],
    "motion-view/transform",
    "babel-plugin-jsx-if",
    [
      "babel-plugin-root-import",
      {
        "rootPathSuffix": "app"
      }
    ],
    "babel-plugin-transform-decorators-legacy"
  ],
  "presets": [
    [
      "babel-preset-env",
      {
        "loose": true,
        "exclude": [
          "transform-regenerator"
        ]
      }
    ],
    "babel-preset-stage-0",
    "babel-preset-react"
  ]
}
