{
  "env": {
    "development": {
      "presets": ["@mcro/preset-motion"]
    },
    "es5": {
      "presets": [
        "es2015",
        "babel-preset-react",
        [
          "@mcro/preset-motion",
          {
            "async": false,
            "nodeTarget": 6
          }
        ]
      ]
    },
    "dist": {
      "presets": [
        [
          "@mcro/preset-motion",
          {
            "disable": ["@mcro/hmr", "@mcro/hmr-view", "babel-plugin-sitrep"]
          }
        ]
      ]
    },
    "production": {
      "presets": [
        "es2015",
        [
          "@mcro/preset-motion",
          {
            "disable": ["@mcro/hmr", "@mcro/hmr-view", "babel-plugin-sitrep"],
            "async": false,
            "rootSuffix": ""
          }
        ],
        [
          "minify",
          {
            "mangle": false
          }
        ]
      ]
    }
  }
}
