node_modules
lib
dist
es6
*.log
log.txt
.DS_Store
app_data
shrinkwrap.yaml
values.yaml
*.tgz
kubeconfig
.vscode/**/*
apps/web/public/_/*
apps/site/public/_/*
apps/web/build
apps/api/es6
apps/api/build
apps/site/build
apps/electron/dist
apps/electron/build
apps/electron/app

# keep these lib folders because these are babel plugins
!packages/hmr/lib
!packages/hmr-view/lib
