node_modules
lib
*.log
.DS_Store
app_data
shrinkwrap.yaml
values.yaml
*.tgz
kubeconfig
.vscode/**/*
apps/web/public/_/*
apps/web/build
apps/api/build
apps/electron/dist
apps/electron/build

# keep these lib folders because these are babel plugins
!packages/hmr/lib
!packages/hmr-view/lib
packages/hmr-view/lib/*.js.flow
