.eggs
*.csv
prediction.txt
__pycache__
.cache
node_modules
tmp
_
lib
dist
es6
*.log
log.txt
.DS_Store
app_data
shrinkwrap.yaml
values.yaml
*.tgz
kubeconfig

common/temp/**

apps/oracle/train
apps/oracle/orbit/orbit.xcodeproj/project.xcworkspace
apps/oracle/orbit/Carthage
apps/oracle/orbit/Build
apps/oracle/swindler/Carthage
apps/oracle/swindler/Build
apps/app/build
apps/desktop/build
apps/desktop/data/database
apps/desktop/data/database.bak
apps/desktop/data/database-journal
apps/site/build
apps/electron/build
apps/crawler/build

packages/screendump/build
packages/electron-build/app

**/*/Index

# keep these folders because these are babel plugins
!packages/gloss/es6
!packages/css/_
