@mcro/all: package-lock=false
@mcro/app: package-lock=false
@mcro/desktop: package-lock=false
@mcro/electron: package-lock=false
@mcro/models: package-lock=false
@mcro/oracle: package-lock=false
@mcro/site: package-lock=false
@mcro/automagical: package-lock=false
@mcro/babel-preset-motion: package-lock=false
@mcro/black: package-lock=false
@mcro/builder: package-lock=false
@mcro/chrome-extensions: package-lock=false
@mcro/constants: package-lock=false
@mcro/crawler: package-lock=false
@mcro/css: package-lock=false
@mcro/debug-apps: package-lock=false
@mcro/debug: package-lock=false
@mcro/decor: package-lock=false
@mcro/dev: package-lock=false
@mcro/electron-build: package-lock=false
@mcro/gloss: package-lock=false
@mcro/helpers: package-lock=false
@mcro/hmr-view: package-lock=false
@mcro/hmr: package-lock=false
@mcro/macros: package-lock=false
@mcro/model: package-lock=false
@mcro/passport-slack: package-lock=false
@mcro/r2: package-lock=false
@mcro/react-tunnel: package-lock=false
@mcro/reactron: package-lock=false
@mcro/router: package-lock=false
@mcro/search: package-lock=false
@mcro/ui: package-lock=false
