{
  "swagger": "2.0",
  "info": {
    "version": "1.0.6",
    "title": "Slack Web API",
    "description": "One way to interact with the Slack platform is its HTTP RPC-based Web API, a collection of methods requiring OAuth 2.0-based user, bot, or workspace tokens blessed with related OAuth scopes.",
    "contact": {}
  },
  "host": "slack.com",
  "basePath": "/api",
  "securityDefinitions": {
    "auth": {
      "type": "oauth2",
      "flow": "accessCode",
      "authorizationUrl": "https://slack.com/oauth/authorize",
      "tokenUrl": "https://slack.com/api/oauth.access",
      "scopes": {
        "admin": "admin",
        "bot": "Bot user scope",
        "channels:history": "channels:history",
        "channels:read": "channels:read",
        "channels:write": "channels:write",
        "chat:write": "chat:write",
        "chat:write:bot": "Author messages as a bot",
        "chat:write:user": "chat:write:user",
        "conversations:history": "conversations:history",
        "conversations:read": "conversations:read",
        "conversations:write": "conversations:write",
        "dnd:read": "dnd:read",
        "dnd:write": "dnd:write",
        "emoji:read": "emoji:read",
        "files:read": "files:read",
        "files:write:user": "files:write:user",
        "groups:history": "groups:history",
        "groups:read": "groups:read",
        "groups:write": "groups:write",
        "identity.basic": "identity.basic",
        "im:history": "im:history",
        "im:read": "im:read",
        "im:write": "im:write",
        "links:write": "links:write",
        "mpim:history": "mpim:history",
        "mpim:read": "mpim:read",
        "mpim:write": "mpim:write",
        "none": "No scope required",
        "pins:read": "pins:read",
        "pins:write": "pins:write",
        "reactions:read": "reactions:read",
        "reactions:write": "reactions:write",
        "reminders:read": "reminders:read",
        "reminders:write": "reminders:write",
        "rtm:stream": "rtm:stream",
        "search:read": "search:read",
        "stars:read": "stars:read",
        "stars:write": "stars:write",
        "team:read": "team:read",
        "tokens.basic": "tokens.basic",
        "usergroups:read": "usergroups:read",
        "usergroups:write": "usergroups:write",
        "users.profile:read": "users.profile:read",
        "users.profile:write": "users.profile:write",
        "users:read": "users:read",
        "users:read.email": "users:read.email",
        "users:write": "users:write"
      }
    }
  },
  "schemes": ["https"],
  "consumes": ["application/json"],
  "produces": ["application/json"],
  "paths": {
    "/api.test": {
      "get": {
        "description": "Checks API calling code.",
        "summary": "api_test",
        "tags": ["api"],
        "operationId": "ApiTestGet",
        "deprecated": false,
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "foo",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "example property to return"
          },
          {
            "name": "error",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Error response to return"
          }
        ],
        "responses": {
          "200": {
            "description": "Standard success response",
            "schema": {
              "$ref": "#/definitions/api.testsuccessschema"
            },
            "examples": {
              "application/json": {
                "ok": "true"
              }
            },
            "headers": {}
          },
          "default": {
            "description": "Artificial error response",
            "schema": {
              "$ref": "#/definitions/api.testerrorschema"
            },
            "examples": {
              "application/json": {
                "args": {
                  "error": "my_error"
                },
                "error": "my_error",
                "ok": "false"
              }
            }
          }
        },
        "security": [
          {
            "auth": ["none"]
          }
        ],
        "externalDocs": {
          "url": "https://api.slack.com/methods/api.test",
          "description": "API method documentation"
        }
      }
    },
    "/apps.permissions.info": {
      "get": {
        "description": "Returns list of permissions this app has on a team.",
        "summary": "apps_permissions_info",
        "tags": ["apps.permissions"],
        "operationId": "AppsPermissionsInfoGet",
        "deprecated": false,
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Authentication token. Requires scope: `none`"
          }
        ],
        "responses": {
          "200": {
            "description": "Standard success response when used with a user token",
            "schema": {
              "$ref": "#/definitions/Defaultsuccesstemplate"
            },
            "examples": {
              "application/json": {
                "info": {
                  "app_home": {
                    "resources": {
                      "ids": ["D0C0NU1Q8", "D0BH95DLH"]
                    },
                    "scopes": ["chat:write", "im:history", "im:read"]
                  },
                  "channel": {
                    "resources": {
                      "excluded_ids": [],
                      "ids": ["C061FA5PB"],
                      "wildcard": false
                    },
                    "scopes": ["channels:read"]
                  },
                  "group": {
                    "resources": {
                      "ids": []
                    },
                    "scopes": []
                  },
                  "im": {
                    "resources": {
                      "ids": []
                    },
                    "scopes": []
                  },
                  "mpim": {
                    "resources": {
                      "ids": []
                    },
                    "scopes": []
                  },
                  "team": {
                    "resources": {
                      "ids": []
                    },
                    "scopes": []
                  }
                },
                "ok": "true"
              }
            },
            "headers": {}
          },
          "default": {
            "description": "Standard failure response when used with an invalid token",
            "schema": {
              "$ref": "#/definitions/Defaultsuccesstemplate"
            },
            "examples": {
              "application/json": {
                "error": "invalid_auth",
                "ok": "false"
              }
            }
          }
        },
        "security": [
          {
            "auth": ["none"]
          }
        ],
        "externalDocs": {
          "url": "https://api.slack.com/methods/apps.permissions.info",
          "description": "API method documentation"
        }
      }
    },
    "/apps.permissions.request": {
      "get": {
        "description": "Allows an app to request additional scopes",
        "summary": "apps_permissions_request",
        "tags": ["apps.permissions"],
        "operationId": "AppsPermissionsRequestGet",
        "deprecated": false,
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "scopes",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "A comma separated list of scopes to request for"
          },
          {
            "name": "token",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Authentication token. Requires scope: `none`"
          },
          {
            "name": "trigger_id",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Token used to trigger the permissions API"
          }
        ],
        "responses": {
          "200": {
            "description": "Standard success response when used with a user token",
            "schema": {
              "$ref": "#/definitions/apps.permissions.requestschema"
            },
            "examples": {
              "application/json": {
                "ok": "true"
              }
            },
            "headers": {}
          },
          "default": {
            "description": "Standard failure response when trigger_id is invalid",
            "schema": {
              "$ref": "#/definitions/apps.permissions.requesterrorschema"
            }
          }
        },
        "security": [
          {
            "auth": ["none"]
          }
        ],
        "externalDocs": {
          "url": "https://api.slack.com/methods/apps.permissions.request",
          "description": "API method documentation"
        }
      }
    },
    "/apps.permissions.resources.list": {
      "get": {
        "description": "Returns list of resource grants this app has on a team.",
        "summary": "apps_permissions_resources_list",
        "tags": ["apps.permissions.resources"],
        "operationId": "AppsPermissionsResourcesListGet",
        "deprecated": false,
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Paginate through collections of data by setting the `cursor` parameter to a `next_cursor` attribute returned by a previous request's `response_metadata`. Default value fetches the first \"page\" of the collection. See [pagination](/docs/pagination) for more detail."
          },
          {
            "name": "token",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Authentication token. Requires scope: `none`"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "description": "The maximum number of items to return."
          }
        ],
        "responses": {
          "200": {
            "description": "Typical successful paginated response",
            "schema": {
              "$ref": "#/definitions/apps.permissions.resources.listsuccessschema"
            },
            "examples": {
              "application/json": {
                "ok": "true",
                "resources": [
                  {
                    "id": "T0DES3UAN",
                    "type": "team"
                  },
                  {
                    "id": "D024BFF1M",
                    "type": "app_home"
                  },
                  {
                    "id": "C024BE91L",
                    "type": "channel"
                  }
                ],
                "response_metadata": {
                  "next_cursor": "dGVhbTpDMUg5UkVTR0w="
                }
              }
            },
            "headers": {}
          },
          "default": {
            "description": "Typical error response",
            "schema": {
              "$ref": "#/definitions/apps.permissions.resources.listerrorschema"
            },
            "examples": {
              "application/json": {
                "error": "invalid_cursor",
                "ok": "false"
              }
            }
          }
        },
        "security": [
          {
            "auth": ["none"]
          }
        ],
        "externalDocs": {
          "url": "https://api.slack.com/methods/apps.permissions.resources.list",
          "description": "API method documentation"
        }
      }
    },
    "/apps.permissions.scopes.list": {
      "get": {
        "description": "Returns list of scopes this app has on a team.",
        "summary": "apps_permissions_scopes_list",
        "tags": ["apps.permissions.scopes"],
        "operationId": "AppsPermissionsScopesListGet",
        "deprecated": false,
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Authentication token. Requires scope: `none`"
          }
        ],
        "responses": {
          "200": {
            "description": "Typical successful paginated response",
            "schema": {
              "$ref": "#/definitions/api.permissions.scopes.listsuccessschema"
            },
            "headers": {}
          },
          "default": {
            "description": "Typical error response",
            "schema": {
              "$ref": "#/definitions/apps.permissions.scopes.listerrorschema"
            },
            "examples": {
              "application/json": {
                "error": "invalid_auth",
                "ok": "false"
              }
            }
          }
        },
        "security": [
          {
            "auth": ["none"]
          }
        ],
        "externalDocs": {
          "url": "https://api.slack.com/methods/apps.permissions.scopes.list",
          "description": "API method documentation"
        }
      }
    },
    "/auth.revoke": {
      "get": {
        "description": "Revokes a token.",
        "summary": "auth_revoke",
        "tags": ["auth"],
        "operationId": "AuthRevokeGet",
        "deprecated": false,
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "test",
            "in": "query",
            "required": false,
            "type": "boolean",
            "description": "Setting this parameter to `1` triggers a _testing mode_ where the specified token will not actually be revoked."
          },
          {
            "name": "token",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Authentication token. Requires scope: `none`"
          }
        ],
        "responses": {
          "200": {
            "description": "Typical success response",
            "schema": {
              "$ref": "#/definitions/auth.revokeschema"
            },
            "examples": {
              "application/json": {
                "ok": "true",
                "revoked": true
              }
            },
            "headers": {}
          },
          "default": {
            "description": "Typical error response",
            "schema": {
              "$ref": "#/definitions/auth.revokeerrorschema"
            },
            "examples": {
              "application/json": {
                "error": "invalid_auth",
                "ok": "false"
              }
            }
          }
        },
        "security": [
          {
            "auth": ["none"]
          }
        ],
        "externalDocs": {
          "url": "https://api.slack.com/methods/auth.revoke",
          "description": "API method documentation"
        }
      }
    },
    "/auth.test": {
      "get": {
        "description": "Checks authentication & identity.",
        "summary": "auth_test",
        "tags": ["auth"],
        "operationId": "AuthTestGet",
        "deprecated": false,
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "token",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "Authentication token. Requires scope: `none`"
          }
        ],
        "responses": {
          "200": {
            "description": "Standard success response when used with a user token",
            "schema": {
              "$ref": "#/definitions/auth.testsuccessschema"
            },
            "examples": {
              "application/json": {
                "ok": "true",
                "team": "Subarachnoid Workspace",
                "team_id": "T12345678",
                "url": "https://subarachnoid.slack.com/",
                "user": "grace",
                "user_id": "W12345678"
              }
            },
            "headers": {}
          },
          "default": {
            "description": "Standard failure response when used with an invalid token",
            "schema": {
              "$ref": "#/definitions/auth.testerrorschema"
            },
            "examples": {
              "application/json": {
                "error": "invalid_auth",
                "ok": "false"
              }
            }
          }
        },
        "security": [
          {
            "auth": ["none"]
          }
        ],
        "externalDocs": {
          "url": "https://api.slack.com/methods/auth.test",
          "description": "API method documentation"
        }
      }
    },
    "/bots.info": {
      "get": {
        "description": "Gets information about a bot user.",
        "summary": "bots_info",
        "tags": ["bots"],
        "operationId": "BotsInfoGet",
        "deprecated": false,
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Authentication token. Requires scope: `users:read`"
          },
          {
            "name": "bot",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Bot user to get info on"
          }
        ],
        "responses": {
          "200": {
            "description": "When successful, returns bot info by bot ID.",
            "schema": {
              "$ref": "#/definitions/bots.infoschema"
            },
            "examples": {
              "application/json": {
                "bot": {
                  "WINDOW_ID": "A061BLERW",
                  "deleted": false,
                  "icons": {
                    "image_36": "https://...",
                    "image_48": "https://...",
                    "image_72": "https://..."
                  },
                  "id": "B061F7JQ1",
                  "name": "commandeer",
                  "updated": 1449272004
                },
                "ok": "true"
              }
            },
            "headers": {}
          },
          "default": {
            "description": "When no bot can be found, it returns an error.",
            "schema": {
              "$ref": "#/definitions/bots.infoerrorschema"
            },
            "examples": {
              "application/json": {
                "error": "bot_not_found",
                "ok": "false"
              }
            }
          }
        },
        "security": [
          {
            "auth": ["users:read"]
          }
        ],
        "externalDocs": {
          "url": "https://api.slack.com/methods/bots.info",
          "description": "API method documentation"
        }
      }
    },
    "/channels.archive": {
      "post": {
        "description": "Archives a channel.",
        "summary": "channels_archive",
        "tags": ["channels"],
        "operationId": "ChannelsArchivePost",
        "deprecated": false,
        "produces": ["application/json"],
        "consumes": ["application/x-www-form-urlencoded"],
        "parameters": [
          {
            "name": "token",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "Authentication token. Requires scope: `channels:write`"
          },
          {
            "name": "channel",
            "in": "formData",
            "required": false,
            "type": "string",
            "description": "Channel to archive"
          }
        ],
        "responses": {
          "200": {
            "description": "Typical success response",
            "schema": {
              "$ref": "#/definitions/channels.archivesuccessschema"
            },
            "examples": {
              "application/json": {
                "ok": "true"
              }
            },
            "headers": {}
          },
          "default": {
            "description": "Typical error response",
            "schema": {
              "$ref": "#/definitions/channels.archiveerrorschema"
            },
            "examples": {
              "application/json": {
                "error": "invalid_auth",
                "ok": "false"
              }
            }
          }
        },
        "security": [
          {
            "auth": ["channels:write"]
          }
        ],
        "externalDocs": {
          "url": "https://api.slack.com/methods/channels.archive",
          "description": "API method documentation"
        }
      }
    },
    "/channels.create": {
      "post": {
        "description": "Creates a channel.",
        "summary": "channels_create",
        "tags": ["channels"],
        "operationId": "ChannelsCreatePost",
        "deprecated": false,
        "produces": ["application/json"],
        "consumes": ["application/x-www-form-urlencoded"],
        "parameters": [
          {
            "name": "validate",
            "in": "formData",
            "required": false,
            "type": "boolean",
            "description": "Whether to return errors on invalid channel name instead of modifying it to meet the specified criteria."
          },
          {
            "name": "token",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "Authentication token. Requires scope: `channels:write`"
          },
          {
            "name": "name",
            "in": "formData",
            "required": false,
            "type": "string",
            "description": "Name of channel to create"
          }
        ],
        "responses": {
          "200": {
            "description": "Typical success response resulting in a new channel",
            "schema": {
              "$ref": "#/definitions/channels.createerrorschema"
            },
            "headers": {}
          },
          "default": {
            "description": "Example error response when an invalid name is provided",
            "schema": {
              "$ref": "#/definitions/channels.createerrorschema1"
            },
            "examples": {
              "application/json": {
                "detail": "Value passed for `name` contained unallowed special characters.",
                "error": "invalid_name_specials",
                "ok": "false"
              }
            }
          }
        },
        "security": [
          {
            "auth": ["channels:write"]
          }
        ],
        "externalDocs": {
          "url": "https://api.slack.com/methods/channels.create",
          "description": "API method documentation"
        }
      }
    },
    "/channels.history": {
      "get": {
        "description": "Fetches history of messages and events from a channel.",
        "summary": "channels_history",
        "tags": ["channels"],
        "operationId": "ChannelsHistoryGet",
        "deprecated": false,
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "count",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "description": "Number of messages to return, between 1 and 1000."
          },
          {
            "name": "unreads",
            "in": "query",
            "required": false,
            "type": "boolean",
            "description": "Include `unread_count_display` in the output?"
          },
          {
            "name": "inclusive",
            "in": "query",
            "required": false,
            "type": "boolean",
            "description": "Include messages with latest or oldest timestamp in results."
          },
          {
            "name": "token",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Authentication token. Requires scope: `channels:history`"
          },
          {
            "name": "oldest",
            "in": "query",
            "required": false,
            "type": "number",
            "format": "double",
            "description": "Start of time range of messages to include in results."
          },
          {
            "name": "channel",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Channel to fetch history for."
          },
          {
            "name": "latest",
            "in": "query",
            "required": false,
            "type": "number",
            "format": "double",
            "description": "End of time range of messages to include in results."
          }
        ],
        "responses": {
          "200": {
            "description": "Typical success response containing the channel's history",
            "schema": {
              "$ref": "#/definitions/channels.historysuccessschema"
            },
            "headers": {}
          },
          "default": {
            "description": "Error response when the specified channel cannot be found",
            "schema": {
              "$ref": "#/definitions/channels.historyerrorschema"
            },
            "examples": {
              "application/json": {
                "error": "channel_not_found",
                "ok": "false"
              }
            }
          }
        },
        "security": [
          {
            "auth": ["channels:history"]
          }
        ],
        "externalDocs": {
          "url": "https://api.slack.com/methods/channels.history",
          "description": "API method documentation"
        }
      }
    },
    "/channels.info": {
      "get": {
        "description": "Gets information about a channel.",
        "summary": "channels_info",
        "tags": ["channels"],
        "operationId": "ChannelsInfoGet",
        "deprecated": false,
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Authentication token. Requires scope: `channels:read`"
          },
          {
            "name": "include_locale",
            "in": "query",
            "required": false,
            "type": "boolean",
            "description": "Set this to `true` to receive the locale for this channel. Defaults to `false`"
          },
          {
            "name": "channel",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Channel to get info on"
          }
        ],
        "responses": {
          "200": {
            "description": "Typical success response",
            "schema": {
              "$ref": "#/definitions/channels.infosuccessschema"
            },
            "headers": {}
          },
          "default": {
            "description": "Error response when the specified channel cannot be found",
            "schema": {
              "$ref": "#/definitions/channels.infoerrorschema"
            },
            "examples": {
              "application/json": {
                "error": "channel_not_found",
                "ok": "false"
              }
            }
          }
        },
        "security": [
          {
            "auth": ["channels:read"]
          }
        ],
        "externalDocs": {
          "url": "https://api.slack.com/methods/channels.info",
          "description": "API method documentation"
        }
      }
    },
    "/channels.invite": {
      "post": {
        "description": "Invites a user to a channel.",
        "summary": "channels_invite",
        "tags": ["channels"],
        "operationId": "ChannelsInvitePost",
        "deprecated": false,
        "produces": ["application/json"],
        "consumes": ["application/x-www-form-urlencoded"],
        "parameters": [
          {
            "name": "token",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "Authentication token. Requires scope: `channels:write`"
          },
          {
            "name": "user",
            "in": "formData",
            "required": false,
            "type": "string",
            "description": "User to invite to channel."
          },
          {
            "name": "channel",
            "in": "formData",
            "required": false,
            "type": "string",
            "description": "Channel to invite user to."
          }
        ],
        "responses": {
          "200": {
            "description": "Typical success response",
            "schema": {
              "$ref": "#/definitions/channels.inviteerrorschema"
            },
            "headers": {}
          },
          "default": {
            "description": "A somewhat typical error response",
            "schema": {
              "$ref": "#/definitions/channels.inviteerrorschema1"
            },
            "examples": {
              "application/json": {
                "error": "cant_invite",
                "ok": "false"
              }
            }
          }
        },
        "security": [
          {
            "auth": ["channels:write"]
          }
        ],
        "externalDocs": {
          "url": "https://api.slack.com/methods/channels.invite",
          "description": "API method documentation"
        }
      }
    },
    "/channels.join": {
      "post": {
        "description": "Joins a channel, creating it if needed.",
        "summary": "channels_join",
        "tags": ["channels"],
        "operationId": "ChannelsJoinPost",
        "deprecated": false,
        "produces": ["application/json"],
        "consumes": ["application/x-www-form-urlencoded"],
        "parameters": [
          {
            "name": "validate",
            "in": "formData",
            "required": false,
            "type": "boolean",
            "description": "Whether to return errors on invalid channel name instead of modifying it to meet the specified criteria."
          },
          {
            "name": "token",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "Authentication token. Requires scope: `channels:write`"
          },
          {
            "name": "name",
            "in": "formData",
            "required": false,
            "type": "string",
            "description": "Name of channel to join"
          }
        ],
        "responses": {
          "200": {
            "description": "Typical success response",
            "schema": {
              "$ref": "#/definitions/channels.joinschema"
            },
            "headers": {}
          },
          "default": {
            "description": "Typical error response",
            "schema": {
              "$ref": "#/definitions/channels.joinerrorschema"
            },
            "examples": {
              "application/json": {
                "error": "channel_not_found",
                "ok": "false"
              }
            }
          }
        },
        "security": [
          {
            "auth": ["channels:write"]
          }
        ],
        "externalDocs": {
          "url": "https://api.slack.com/methods/channels.join",
          "description": "API method documentation"
        }
      }
    },
    "/channels.kick": {
      "post": {
        "description": "Removes a user from a channel.",
        "summary": "channels_kick",
        "tags": ["channels"],
        "operationId": "ChannelsKickPost",
        "deprecated": false,
        "produces": ["application/json"],
        "consumes": ["application/x-www-form-urlencoded"],
        "parameters": [
          {
            "name": "token",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "Authentication token. Requires scope: `channels:write`"
          },
          {
            "name": "user",
            "in": "formData",
            "required": false,
            "type": "string",
            "description": "User to remove from channel."
          },
          {
            "name": "channel",
            "in": "formData",
            "required": false,
            "type": "string",
            "description": "Channel to remove user from."
          }
        ],
        "responses": {
          "200": {
            "description": "Typical success response",
            "schema": {
              "$ref": "#/definitions/channels.kickschema"
            },
            "examples": {
              "application/json": {
                "ok": "true"
              }
            },
            "headers": {}
          },
          "default": {
            "description": "Typical error response",
            "schema": {
              "$ref": "#/definitions/channels.kickerrorschema"
            },
            "examples": {
              "application/json": {
                "error": "not_in_channel",
                "ok": "false"
              }
            }
          }
        },
        "security": [
          {
            "auth": ["channels:write"]
          }
        ],
        "externalDocs": {
          "url": "https://api.slack.com/methods/channels.kick",
          "description": "API method documentation"
        }
      }
    },
    "/channels.leave": {
      "post": {
        "description": "Leaves a channel.",
        "summary": "channels_leave",
        "tags": ["channels"],
        "operationId": "ChannelsLeavePost",
        "deprecated": false,
        "produces": ["application/json"],
        "consumes": ["application/x-www-form-urlencoded"],
        "parameters": [
          {
            "name": "token",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "Authentication token. Requires scope: `channels:write`"
          },
          {
            "name": "channel",
            "in": "formData",
            "required": false,
            "type": "string",
            "description": "Channel to leave"
          }
        ],
        "responses": {
          "200": {
            "description": "Typical success response",
            "schema": {
              "$ref": "#/definitions/Defaultsuccesstemplate"
            },
            "examples": {
              "application/json": {
                "ok": "true"
              }
            },
            "headers": {}
          },
          "default": {
            "description": "Typical error response",
            "schema": {
              "$ref": "#/definitions/Defaultsuccesstemplate"
            },
            "examples": {
              "application/json": {
                "error": "invalid_auth",
                "ok": "false"
              }
            }
          }
        },
        "security": [
          {
            "auth": ["channels:write"]
          }
        ],
        "externalDocs": {
          "url": "https://api.slack.com/methods/channels.leave",
          "description": "API method documentation"
        }
      }
    },
    "/channels.list": {
      "get": {
        "description": "Lists all channels in a Slack team.",
        "summary": "channels_list",
        "tags": ["channels"],
        "operationId": "ChannelsListGet",
        "deprecated": false,
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "exclude_members",
            "in": "query",
            "required": false,
            "type": "boolean",
            "description": "Exclude the `members` collection from each `channel`"
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Paginate through collections of data by setting the `cursor` parameter to a `next_cursor` attribute returned by a previous request's `response_metadata`. Default value fetches the first \"page\" of the collection. See [pagination](/docs/pagination) for more detail."
          },
          {
            "name": "token",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Authentication token. Requires scope: `channels:read`"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "description": "The maximum number of items to return. Fewer than the requested number of items may be returned, even if the end of the users list hasn't been reached."
          },
          {
            "name": "exclude_archived",
            "in": "query",
            "required": false,
            "type": "boolean",
            "description": "Exclude archived channels from the list"
          }
        ],
        "responses": {
          "200": {
            "description": "Typical cursored success response",
            "schema": {
              "$ref": "#/definitions/channels.listsuccessschema"
            },
            "headers": {}
          },
          "default": {
            "description": "Typical error response",
            "schema": {
              "$ref": "#/definitions/channels.listerrorschema"
            },
            "examples": {
              "application/json": {
                "error": "invalid_auth",
                "ok": "false"
              }
            }
          }
        },
        "security": [
          {
            "auth": ["channels:read"]
          }
        ],
        "externalDocs": {
          "url": "https://api.slack.com/methods/channels.list",
          "description": "API method documentation"
        }
      }
    },
    "/channels.mark": {
      "post": {
        "description": "Sets the read cursor in a channel.",
        "summary": "channels_mark",
        "tags": ["channels"],
        "operationId": "ChannelsMarkPost",
        "deprecated": false,
        "produces": ["application/json"],
        "consumes": ["application/x-www-form-urlencoded"],
        "parameters": [
          {
            "name": "token",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "Authentication token. Requires scope: `channels:write`"
          },
          {
            "name": "ts",
            "in": "formData",
            "required": false,
            "type": "number",
            "format": "double",
            "description": "Timestamp of the most recently seen message."
          },
          {
            "name": "channel",
            "in": "formData",
            "required": false,
            "type": "string",
            "description": "Channel to set reading cursor in."
          }
        ],
        "responses": {
          "200": {
            "description": "Typical success response",
            "schema": {
              "$ref": "#/definitions/channels.marksuccessschema"
            },
            "examples": {
              "application/json": {
                "ok": "true"
              }
            },
            "headers": {}
          },
          "default": {
            "description": "Typical error response",
            "schema": {
              "$ref": "#/definitions/channels.markerrorschema"
            },
            "examples": {
              "application/json": {
                "error": "invalid_auth",
                "ok": "false"
              }
            }
          }
        },
        "security": [
          {
            "auth": ["channels:write"]
          }
        ],
        "externalDocs": {
          "url": "https://api.slack.com/methods/channels.mark",
          "description": "API method documentation"
        }
      }
    },
    "/channels.rename": {
      "post": {
        "description": "Renames a channel.",
        "summary": "channels_rename",
        "tags": ["channels"],
        "operationId": "ChannelsRenamePost",
        "deprecated": false,
        "produces": ["application/json"],
        "consumes": ["application/x-www-form-urlencoded"],
        "parameters": [
          {
            "name": "validate",
            "in": "formData",
            "required": false,
            "type": "boolean",
            "description": "Whether to return errors on invalid channel name instead of modifying it to meet the specified criteria."
          },
          {
            "name": "token",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "Authentication token. Requires scope: `channels:write`"
          },
          {
            "name": "name",
            "in": "formData",
            "required": false,
            "type": "string",
            "description": "New name for channel."
          },
          {
            "name": "channel",
            "in": "formData",
            "required": false,
            "type": "string",
            "description": "Channel to rename"
          }
        ],
        "responses": {
          "200": {
            "description": "Typical success response",
            "schema": {
              "$ref": "#/definitions/channels.renameschema"
            },
            "headers": {}
          },
          "default": {
            "description": "Typical error response",
            "schema": {
              "$ref": "#/definitions/channels.renameerrorschema"
            },
            "examples": {
              "application/json": {
                "error": "invalid_auth",
                "ok": "false"
              }
            }
          }
        },
        "security": [
          {
            "auth": ["channels:write"]
          }
        ],
        "externalDocs": {
          "url": "https://api.slack.com/methods/channels.rename",
          "description": "API method documentation"
        }
      }
    },
    "/channels.replies": {
      "get": {
        "description": "Retrieve a thread of messages posted to a channel",
        "summary": "channels_replies",
        "tags": ["channels"],
        "operationId": "ChannelsRepliesGet",
        "deprecated": false,
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "thread_ts",
            "in": "query",
            "required": false,
            "type": "number",
            "format": "double",
            "description": "Unique identifier of a thread's parent message"
          },
          {
            "name": "token",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Authentication token. Requires scope: `channels:history`"
          },
          {
            "name": "channel",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Channel to fetch thread from"
          }
        ],
        "responses": {
          "200": {
            "description": "Typical success response",
            "schema": {
              "$ref": "#/definitions/Defaultsuccesstemplate"
            },
            "examples": {
              "application/json": {
                "has_more": false,
                "messages": [
                  {
                    "last_read": "1509484885.000082",
                    "replies": [
                      {
                        "ts": "1509484424.000601",
                        "user": "U2U85N1RZ"
                      },
                      {
                        "ts": "1509484885.000082",
                        "user": "U2U85N1RZ"
                      }
                    ],
                    "reply_count": 2,
                    "subscribed": true,
                    "text": "This is a channel message",
                    "thread_ts": "1485913694.000025",
                    "ts": "1485913694.000025",
                    "type": "message",
                    "unread_count": 0,
                    "user": "U2X9P5FEL"
                  },
                  {
                    "parent_user_id": "U2X9P5FEL",
                    "text": "This is a thread reply",
                    "thread_ts": "1485913694.000025",
                    "ts": "1509484424.000601",
                    "type": "message",
                    "user": "U2U85N1RZ"
                  },
                  {
                    "parent_user_id": "U2X9P5FEL",
                    "text": "This is another thread reply",
                    "thread_ts": "1485913694.000025",
                    "ts": "1509484885.000082",
                    "type": "message",
                    "user": "U2U85N1RZ"
                  }
                ],
                "ok": "true"
              }
            },
            "headers": {}
          },
          "default": {
            "description": "Typical error response",
            "schema": {
              "$ref": "#/definitions/Defaultsuccesstemplate"
            },
            "examples": {
              "application/json": {
                "error": "thread_not_found",
                "ok": "false"
              }
            }
          }
        },
        "security": [
          {
            "auth": ["channels:history"]
          }
        ],
        "externalDocs": {
          "url": "https://api.slack.com/methods/channels.replies",
          "description": "API method documentation"
        }
      }
    },
    "/channels.setPurpose": {
      "post": {
        "description": "Sets the purpose for a channel.",
        "summary": "channels_setPurpose",
        "tags": ["channels"],
        "operationId": "ChannelsSetPurposePost",
        "deprecated": false,
        "produces": ["application/json"],
        "consumes": ["application/x-www-form-urlencoded"],
        "parameters": [
          {
            "name": "token",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "Authentication token. Requires scope: `channels:write`"
          },
          {
            "name": "purpose",
            "in": "formData",
            "required": false,
            "type": "string",
            "description": "The new purpose"
          },
          {
            "name": "channel",
            "in": "formData",
            "required": false,
            "type": "string",
            "description": "Channel to set the purpose of"
          }
        ],
        "responses": {
          "200": {
            "description": "Typical success response",
            "schema": {
              "$ref": "#/definitions/channels.setPurposeschema"
            },
            "examples": {
              "application/json": {
                "ok": "true",
                "purpose": "My special purpose"
              }
            },
            "headers": {}
          },
          "default": {
            "description": "Typical error response",
            "schema": {
              "$ref": "#/definitions/channels.setPurposeerrorschema"
            },
            "examples": {
              "application/json": {
                "error": "invalid_auth",
                "ok": "false"
              }
            }
          }
        },
        "security": [
          {
            "auth": ["channels:write"]
          }
        ],
        "externalDocs": {
          "url": "https://api.slack.com/methods/channels.setPurpose",
          "description": "API method documentation"
        }
      }
    },
    "/channels.setTopic": {
      "post": {
        "description": "Sets the topic for a channel.",
        "summary": "channels_setTopic",
        "tags": ["channels"],
        "operationId": "ChannelsSetTopicPost",
        "deprecated": false,
        "produces": ["application/json"],
        "consumes": ["application/x-www-form-urlencoded"],
        "parameters": [
          {
            "name": "topic",
            "in": "formData",
            "required": false,
            "type": "string",
            "description": "The new topic"
          },
          {
            "name": "token",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "Authentication token. Requires scope: `channels:write`"
          },
          {
            "name": "channel",
            "in": "formData",
            "required": false,
            "type": "string",
            "description": "Channel to set the topic of"
          }
        ],
        "responses": {
          "200": {
            "description": "Typical success response",
            "schema": {
              "$ref": "#/definitions/Defaultsuccesstemplate"
            },
            "examples": {
              "application/json": {
                "ok": "true",
                "topic": "To picture topicality"
              }
            },
            "headers": {}
          },
          "default": {
            "description": "Typical error response",
            "schema": {
              "$ref": "#/definitions/Defaultsuccesstemplate"
            },
            "examples": {
              "application/json": {
                "error": "invalid_auth",
                "ok": "false"
              }
            }
          }
        },
        "security": [
          {
            "auth": ["channels:write"]
          }
        ],
        "externalDocs": {
          "url": "https://api.slack.com/methods/channels.setTopic",
          "description": "API method documentation"
        }
      }
    },
    "/channels.unarchive": {
      "post": {
        "description": "Unarchives a channel.",
        "summary": "channels_unarchive",
        "tags": ["channels"],
        "operationId": "ChannelsUnarchivePost",
        "deprecated": false,
        "produces": ["application/json"],
        "consumes": ["application/x-www-form-urlencoded"],
        "parameters": [
          {
            "name": "token",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "Authentication token. Requires scope: `channels:write`"
          },
          {
            "name": "channel",
            "in": "formData",
            "required": false,
            "type": "string",
            "description": "Channel to unarchive"
          }
        ],
        "responses": {
          "200": {
            "description": "Typical success response",
            "schema": {
              "$ref": "#/definitions/Defaultsuccesstemplate"
            },
            "examples": {
              "application/json": {
                "ok": "true"
              }
            },
            "headers": {}
          },
          "default": {
            "description": "Typical error response",
            "schema": {
              "$ref": "#/definitions/Defaultsuccesstemplate"
            },
            "examples": {
              "application/json": {
                "error": "invalid_auth",
                "ok": "false"
              }
            }
          }
        },
        "security": [
          {
            "auth": ["channels:write"]
          }
        ],
        "externalDocs": {
          "url": "https://api.slack.com/methods/channels.unarchive",
          "description": "API method documentation"
        }
      }
    },
    "/chat.delete": {
      "post": {
        "description": "Deletes a message.",
        "summary": "chat_delete",
        "tags": ["chat"],
        "operationId": "ChatDeletePost",
        "deprecated": false,
        "produces": ["application/json"],
        "consumes": ["application/x-www-form-urlencoded"],
        "parameters": [
          {
            "name": "as_user",
            "in": "formData",
            "required": false,
            "type": "boolean",
            "description": "Pass true to delete the message as the authed user with `chat:write:user` scope. [Bot users](/bot-users) in this context are considered authed users. If unused or false, the message will be deleted with `chat:write:bot` scope."
          },
          {
            "name": "token",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "Authentication token. Requires scope: `chat:write`"
          },
          {
            "name": "ts",
            "in": "formData",
            "required": false,
            "type": "number",
            "format": "double",
            "description": "Timestamp of the message to be deleted."
          },
          {
            "name": "channel",
            "in": "formData",
            "required": false,
            "type": "string",
            "description": "Channel containing the message to be deleted."
          }
        ],
        "responses": {
          "200": {
            "description": "Typical success response",
            "schema": {
              "$ref": "#/definitions/chat.deletesuccessschema"
            },
            "examples": {
              "application/json": {
                "channel": "C024BE91L",
                "ok": "true",
                "ts": "1401383885.000061"
              }
            },
            "headers": {}
          },
          "default": {
            "description": "Typical error response",
            "schema": {
              "$ref": "#/definitions/chat.deleteerrorschema"
            },
            "examples": {
              "application/json": {
                "error": "message_not_found",
                "ok": "false"
              }
            }
          }
        },
        "security": [
          {
            "auth": ["chat:write:user", "chat:write:bot"]
          }
        ],
        "externalDocs": {
          "url": "https://api.slack.com/methods/chat.delete",
          "description": "API method documentation"
        }
      }
    },
    "/chat.getPermalink": {
      "get": {
        "description": "Retrieve a permalink URL for a specific extant message",
        "summary": "chat_getPermalink",
        "tags": ["chat"],
        "operationId": "ChatGetPermalinkGet",
        "deprecated": false,
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Authentication token. Requires scope: `none`"
          },
          {
            "name": "message_ts",
            "in": "query",
            "required": false,
            "type": "number",
            "format": "double",
            "description": "A message's `ts` value, uniquely identifying it within a channel"
          },
          {
            "name": "channel",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "The ID of the conversation or channel containing the message"
          }
        ],
        "responses": {
          "200": {
            "description": "Standard success response",
            "schema": {
              "$ref": "#/definitions/chat.getPermalinksuccessschema"
            },
            "examples": {
              "application/json": {
                "channel": "C1H9RESGA",
                "ok": "true",
                "permalink": "https://ghostbusters.slack.com/archives/C1H9RESGA/p135854651500008"
              }
            },
            "headers": {}
          },
          "default": {
            "description": "Error response when channel cannot be found",
            "schema": {
              "$ref": "#/definitions/chat.getPermalinkerrorschema"
            },
            "examples": {
              "application/json": {
                "error": "channel_not_found",
                "ok": "false"
              }
            }
          }
        },
        "security": [
          {
            "auth": ["none"]
          }
        ],
        "externalDocs": {
          "url": "https://api.slack.com/methods/chat.getPermalink",
          "description": "API method documentation"
        }
      }
    },
    "/chat.meMessage": {
      "post": {
        "description": "Share a me message into a channel.",
        "summary": "chat_meMessage",
        "tags": ["chat"],
        "operationId": "ChatMeMessagePost",
        "deprecated": false,
        "produces": ["application/json"],
        "consumes": ["application/x-www-form-urlencoded"],
        "parameters": [
          {
            "name": "text",
            "in": "formData",
            "required": false,
            "type": "string",
            "description": "Text of the message to send."
          },
          {
            "name": "token",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "Authentication token. Requires scope: `chat:write:user`"
          },
          {
            "name": "channel",
            "in": "formData",
            "required": false,
            "type": "string",
            "description": "Channel to send message to. Can be a public channel, private group or IM channel. Can be an encoded ID, or a name."
          }
        ],
        "responses": {
          "200": {
            "description": "Typical success response",
            "schema": {
              "$ref": "#/definitions/Defaultsuccesstemplate"
            },
            "examples": {
              "application/json": {
                "channel": "C024BE7LR",
                "ok": "true",
                "ts": "1417671948.000006"
              }
            },
            "headers": {}
          },
          "default": {
            "description": "Typical error response",
            "schema": {
              "$ref": "#/definitions/Defaultsuccesstemplate"
            },
            "examples": {
              "application/json": {
                "error": "invalid_auth",
                "ok": "false"
              }
            }
          }
        },
        "security": [
          {
            "auth": ["chat:write:user"]
          }
        ],
        "externalDocs": {
          "url": "https://api.slack.com/methods/chat.meMessage",
          "description": "API method documentation"
        }
      }
    },
    "/chat.postEphemeral": {
      "post": {
        "description": "Sends an ephemeral message to a user in a channel.",
        "summary": "chat_postEphemeral",
        "tags": ["chat"],
        "operationId": "ChatPostEphemeralPost",
        "deprecated": false,
        "produces": ["application/json"],
        "consumes": ["application/x-www-form-urlencoded"],
        "parameters": [
          {
            "name": "attachments",
            "in": "formData",
            "required": false,
            "type": "string",
            "description": "A JSON-based array of structured attachments, presented as a URL-encoded string."
          },
          {
            "name": "text",
            "in": "formData",
            "required": false,
            "type": "string",
            "description": "Text of the message to send. See below for an explanation of [formatting](#formatting). This field is usually required, unless you're providing only `attachments` instead."
          },
          {
            "name": "link_names",
            "in": "formData",
            "required": false,
            "type": "boolean",
            "description": "Find and link channel names and usernames."
          },
          {
            "name": "parse",
            "in": "formData",
            "required": false,
            "type": "string",
            "description": "Change how messages are treated. Defaults to `none`. See [below](#formatting)."
          },
          {
            "name": "token",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "Authentication token. Requires scope: `chat:write`"
          },
          {
            "name": "user",
            "in": "formData",
            "required": false,
            "type": "string",
            "description": "`id` of the user who will receive the ephemeral message. The user should be in the channel specified by the `channel` argument."
          },
          {
            "name": "as_user",
            "in": "formData",
            "required": false,
            "type": "boolean",
            "description": "Pass true to post the message as the authed bot. Defaults to false."
          },
          {
            "name": "channel",
            "in": "formData",
            "required": false,
            "type": "string",
            "description": "Channel, private group, or IM channel to send message to. Can be an encoded ID, or a name."
          }
        ],
        "responses": {
          "200": {
            "description": "Typical success response",
            "schema": {
              "$ref": "#/definitions/chat.postEphemeralsuccessschema"
            },
            "examples": {
              "application/json": {
                "message_ts": "1502210682.580145",
                "ok": "true"
              }
            },
            "headers": {}
          },
          "default": {
            "description": "Typical error response",
            "schema": {
              "$ref": "#/definitions/chat.postEphemeralerrorschema"
            },
            "examples": {
              "application/json": {
                "error": "user_not_in_channel",
                "ok": "false"
              }
            }
          }
        },
        "security": [
          {
            "auth": ["chat:write:user", "chat:write:bot"]
          }
        ],
        "externalDocs": {
          "url": "https://api.slack.com/methods/chat.postEphemeral",
          "description": "API method documentation"
        }
      }
    },
    "/chat.postMessage": {
      "post": {
        "description": "Sends a message to a channel.",
        "summary": "chat_postMessage",
        "tags": ["chat"],
        "operationId": "ChatPostMessagePost",
        "deprecated": false,
        "produces": ["application/json"],
        "consumes": ["application/x-www-form-urlencoded"],
        "parameters": [
          {
            "name": "username",
            "in": "formData",
            "required": false,
            "type": "string",
            "description": "Set your bot's user name. Must be used in conjunction with `as_user` set to false, otherwise ignored. See [authorship](#authorship) below."
          },
          {
            "name": "thread_ts",
            "in": "formData",
            "required": false,
            "type": "number",
            "format": "double",
            "description": "Provide another message's `ts` value to make this message a reply. Avoid using a reply's `ts` value; use its parent instead."
          },
          {
            "name": "attachments",
            "in": "formData",
            "required": false,
            "type": "string",
            "description": "A JSON-based array of structured attachments, presented as a URL-encoded string."
          },
          {
            "name": "unfurl_links",
            "in": "formData",
            "required": false,
            "type": "boolean",
            "description": "Pass true to enable unfurling of primarily text-based content."
          },
          {
            "name": "text",
            "in": "formData",
            "required": false,
            "type": "string",
            "description": "Text of the message to send. See below for an explanation of [formatting](#formatting). This field is usually required, unless you're providing only `attachments` instead. Provide no more than 40,000 characters or [risk truncation](/changelog/2018-04-truncating-really-long-messages)."
          },
          {
            "name": "unfurl_media",
            "in": "formData",
            "required": false,
            "type": "boolean",
            "description": "Pass false to disable unfurling of media content."
          },
          {
            "name": "parse",
            "in": "formData",
            "required": false,
            "type": "string",
            "description": "Change how messages are treated. Defaults to `none`. See [below](#formatting)."
          },
          {
            "name": "as_user",
            "in": "formData",
            "required": false,
            "type": "boolean",
            "description": "Pass true to post the message as the authed user, instead of as a bot. Defaults to false. See [authorship](#authorship) below."
          },
          {
            "name": "token",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "Authentication token. Requires scope: `chat:write`"
          },
          {
            "name": "mrkdwn",
            "in": "formData",
            "required": false,
            "type": "boolean",
            "description": "Disable Slack markup parsing by setting to `false`. Enabled by default."
          },
          {
            "name": "icon_emoji",
            "in": "formData",
            "required": false,
            "type": "string",
            "description": "Emoji to use as the icon for this message. Overrides `icon_url`. Must be used in conjunction with `as_user` set to `false`, otherwise ignored. See [authorship](#authorship) below."
          },
          {
            "name": "link_names",
            "in": "formData",
            "required": false,
            "type": "boolean",
            "description": "Find and link channel names and usernames."
          },
          {
            "name": "icon_url",
            "in": "formData",
            "required": false,
            "type": "string",
            "description": "URL to an image to use as the icon for this message. Must be used in conjunction with `as_user` set to false, otherwise ignored. See [authorship](#authorship) below."
          },
          {
            "name": "channel",
            "in": "formData",
            "required": false,
            "type": "string",
            "description": "Channel, private group, or IM channel to send message to. Can be an encoded ID, or a name. See [below](#channels) for more details."
          },
          {
            "name": "reply_broadcast",
            "in": "formData",
            "required": false,
            "type": "boolean",
            "description": "Used in conjunction with `thread_ts` and indicates whether reply should be made visible to everyone in the channel or conversation. Defaults to `false`."
          }
        ],
        "responses": {
          "200": {
            "description": "Typical success response",
            "schema": {
              "$ref": "#/definitions/chat.postMessagesuccessschema"
            },
            "headers": {}
          },
          "default": {
            "description": "Typical error response if too many attachments are included",
            "schema": {
              "$ref": "#/definitions/chat.postMessageerrorschema"
            },
            "examples": {
              "application/json": {
                "error": "too_many_attachments",
                "ok": "false"
              }
            }
          }
        },
        "security": [
          {
            "auth": ["chat:write:user", "chat:write:bot"]
          }
        ],
        "externalDocs": {
          "url": "https://api.slack.com/methods/chat.postMessage",
          "description": "API method documentation"
        }
      }
    },
    "/chat.unfurl": {
      "post": {
        "description": "Provide custom unfurl behavior for user-posted URLs",
        "summary": "chat_unfurl",
        "tags": ["chat"],
        "operationId": "ChatUnfurlPost",
        "deprecated": false,
        "produces": ["application/json"],
        "consumes": ["application/x-www-form-urlencoded"],
        "parameters": [
          {
            "name": "user_auth_message",
            "in": "formData",
            "required": false,
            "type": "string",
            "description": "Provide a simply-formatted string to send as an ephemeral message to the user as invitation to authenticate further and enable full unfurling behavior"
          },
          {
            "name": "user_auth_required",
            "in": "formData",
            "required": false,
            "type": "boolean",
            "description": "Set to `true` or `1` to indicate the user must install your Slack app to trigger unfurls for this domain"
          },
          {
            "name": "unfurls",
            "in": "formData",
            "required": false,
            "type": "string",
            "description": "URL-encoded JSON map with keys set to URLs featured in the the message, pointing to their unfurl message attachments."
          },
          {
            "name": "ts",
            "in": "formData",
            "required": false,
            "type": "string",
            "description": "Timestamp of the message to add unfurl behavior to."
          },
          {
            "name": "user_auth_url",
            "in": "formData",
            "required": false,
            "type": "string",
            "description": "Send users to this custom URL where they will complete authentication in your app to fully trigger unfurling. Value should be properly URL-encoded."
          },
          {
            "name": "token",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "Authentication token. Requires scope: `links:write`"
          },
          {
            "name": "channel",
            "in": "formData",
            "required": false,
            "type": "string",
            "description": "Channel ID of the message"
          }
        ],
        "responses": {
          "200": {
            "description": "Typical, minimal success response",
            "schema": {
              "$ref": "#/definitions/chat.unfurlsuccessschema"
            },
            "examples": {
              "application/json": {
                "ok": "true"
              }
            },
            "headers": {}
          },
          "default": {
            "description": "Typical error response",
            "schema": {
              "$ref": "#/definitions/chat.unfurlerrorschema"
            },
            "examples": {
              "application/json": {
                "error": "cannot_unfurl_url",
                "ok": "false"
              }
            }
          }
        },
        "security": [
          {
            "auth": ["links:write"]
          }
        ],
        "externalDocs": {
          "url": "https://api.slack.com/methods/chat.unfurl",
          "description": "API method documentation"
        }
      }
    },
    "/chat.update": {
      "post": {
        "description": "Updates a message.",
        "summary": "chat_update",
        "tags": ["chat"],
        "operationId": "ChatUpdatePost",
        "deprecated": false,
        "produces": ["application/json"],
        "consumes": ["application/x-www-form-urlencoded"],
        "parameters": [
          {
            "name": "attachments",
            "in": "formData",
            "required": false,
            "type": "string",
            "description": "A JSON-based array of structured attachments, presented as a URL-encoded string. This field is required when not presenting `text`."
          },
          {
            "name": "text",
            "in": "formData",
            "required": false,
            "type": "string",
            "description": "New text for the message, using the [default formatting rules](/docs/formatting). It's not required when presenting `attachments`."
          },
          {
            "name": "ts",
            "in": "formData",
            "required": false,
            "type": "number",
            "format": "double",
            "description": "Timestamp of the message to be updated."
          },
          {
            "name": "parse",
            "in": "formData",
            "required": false,
            "type": "string",
            "description": "Change how messages are treated. Defaults to `client`, unlike `chat.postMessage`. See [below](#formatting)."
          },
          {
            "name": "as_user",
            "in": "formData",
            "required": false,
            "type": "boolean",
            "description": "Pass true to update the message as the authed user. [Bot users](/bot-users) in this context are considered authed users."
          },
          {
            "name": "token",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "Authentication token. Requires scope: `chat:write`"
          },
          {
            "name": "link_names",
            "in": "formData",
            "required": false,
            "type": "boolean",
            "description": "Find and link channel names and usernames. Defaults to `none`. See [below](#formatting)."
          },
          {
            "name": "channel",
            "in": "formData",
            "required": false,
            "type": "string",
            "description": "Channel containing the message to be updated."
          }
        ],
        "responses": {
          "200": {
            "description": "Typical success response",
            "schema": {
              "$ref": "#/definitions/chat.updatesuccessschema"
            },
            "examples": {
              "application/json": {
                "channel": "C024BE91L",
                "ok": "true",
                "text": "Updated text you carefully authored",
                "ts": "1401383885.000061"
              }
            },
            "headers": {}
          },
          "default": {
            "description": "Typical error response",
            "schema": {
              "$ref": "#/definitions/chat.updateerrorschema"
            },
            "examples": {
              "application/json": {
                "error": "cant_update_message",
                "ok": "false"
              }
            }
          }
        },
        "security": [
          {
            "auth": ["chat:write:user", "chat:write:bot"]
          }
        ],
        "externalDocs": {
          "url": "https://api.slack.com/methods/chat.update",
          "description": "API method documentation"
        }
      }
    },
    "/conversations.archive": {
      "post": {
        "description": "Archives a conversation.",
        "summary": "conversations_archive",
        "tags": ["conversations"],
        "operationId": "ConversationsArchivePost",
        "deprecated": false,
        "produces": ["application/json"],
        "consumes": ["application/x-www-form-urlencoded"],
        "parameters": [
          {
            "name": "token",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "Authentication token. Requires scope: `conversations:write`"
          },
          {
            "name": "channel",
            "in": "formData",
            "required": false,
            "type": "string",
            "description": "ID of conversation to archive"
          }
        ],
        "responses": {
          "200": {
            "description": "Typical success response",
            "schema": {
              "$ref": "#/definitions/conversations.archivesuccessschema"
            },
            "examples": {
              "application/json": {
                "ok": "true"
              }
            },
            "headers": {}
          },
          "default": {
            "description": "Typical error response",
            "schema": {
              "$ref": "#/definitions/conversations.archiveerrorschema"
            },
            "examples": {
              "application/json": {
                "error": "channel_not_found",
                "ok": "false"
              }
            }
          }
        },
        "security": [
          {
            "auth": ["channels:write", "groups:write", "im:write", "mpim:write"]
          }
        ],
        "externalDocs": {
          "url": "https://api.slack.com/methods/conversations.archive",
          "description": "API method documentation"
        }
      }
    },
    "/conversations.close": {
      "post": {
        "description": "Closes a direct message or multi-person direct message.",
        "summary": "conversations_close",
        "tags": ["conversations"],
        "operationId": "ConversationsClosePost",
        "deprecated": false,
        "produces": ["application/json"],
        "consumes": ["application/x-www-form-urlencoded"],
        "parameters": [
          {
            "name": "token",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "Authentication token. Requires scope: `conversations:write`"
          },
          {
            "name": "channel",
            "in": "formData",
            "required": false,
            "type": "string",
            "description": "Conversation to close."
          }
        ],
        "responses": {
          "200": {
            "description": "Typical success response",
            "schema": {
              "$ref": "#/definitions/conversations.closesuccessschema"
            },
            "examples": {
              "application/json": {
                "ok": "true"
              }
            },
            "headers": {}
          },
          "default": {
            "description": "Typical error response",
            "schema": {
              "$ref": "#/definitions/conversations.closeerrorschema"
            },
            "examples": {
              "application/json": {
                "error": "channel_not_found",
                "ok": "false"
              }
            }
          }
        },
        "security": [
          {
            "auth": ["channels:write", "groups:write", "im:write", "mpim:write"]
          }
        ],
        "externalDocs": {
          "url": "https://api.slack.com/methods/conversations.close",
          "description": "API method documentation"
        }
      }
    },
    "/conversations.create": {
      "post": {
        "description": "Initiates a public or private channel-based conversation",
        "summary": "conversations_create",
        "tags": ["conversations"],
        "operationId": "ConversationsCreatePost",
        "deprecated": false,
        "produces": ["application/json"],
        "consumes": ["application/x-www-form-urlencoded"],
        "parameters": [
          {
            "name": "token",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "Authentication token. Requires scope: `conversations:write`"
          },
          {
            "name": "name",
            "in": "formData",
            "required": false,
            "type": "string",
            "description": "Name of the public or private channel to create"
          },
          {
            "name": "is_private",
            "in": "formData",
            "required": false,
            "type": "boolean",
            "description": "Create a private channel instead of a public one"
          }
        ],
        "responses": {
          "200": {
            "description": "If successful, the command returns a rather stark [conversation object](/types/conversation)",
            "schema": {
              "$ref": "#/definitions/conversations.createsuccessschema"
            },
            "headers": {}
          },
          "default": {
            "description": "Typical error response when name already in use",
            "schema": {
              "$ref": "#/definitions/conversations.createerrorschema"
            },
            "examples": {
              "application/json": {
                "error": "name_taken",
                "ok": "false"
              }
            }
          }
        },
        "security": [
          {
            "auth": ["channels:write", "groups:write", "im:write", "mpim:write"]
          }
        ],
        "externalDocs": {
          "url": "https://api.slack.com/methods/conversations.create",
          "description": "API method documentation"
        }
      }
    },
    "/conversations.history": {
      "get": {
        "description": "Fetches a conversation's history of messages and events.",
        "summary": "conversations_history",
        "tags": ["conversations"],
        "operationId": "ConversationsHistoryGet",
        "deprecated": false,
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "inclusive",
            "in": "query",
            "required": false,
            "type": "boolean",
            "description": "Include messages with latest or oldest timestamp in results only when either timestamp is specified."
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Paginate through collections of data by setting the `cursor` parameter to a `next_cursor` attribute returned by a previous request's `response_metadata`. Default value fetches the first \"page\" of the collection. See [pagination](/docs/pagination) for more detail."
          },
          {
            "name": "token",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Authentication token. Requires scope: `conversations:history`"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "description": "The maximum number of items to return. Fewer than the requested number of items may be returned, even if the end of the users list hasn't been reached."
          },
          {
            "name": "oldest",
            "in": "query",
            "required": false,
            "type": "number",
            "format": "double",
            "description": "Start of time range of messages to include in results."
          },
          {
            "name": "channel",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Conversation ID to fetch history for."
          },
          {
            "name": "latest",
            "in": "query",
            "required": false,
            "type": "number",
            "format": "double",
            "description": "End of time range of messages to include in results."
          }
        ],
        "responses": {
          "200": {
            "description": "Typical success response containing a channel's messages",
            "schema": {
              "$ref": "#/definitions/conversations.historysuccessschema"
            },
            "headers": {}
          },
          "default": {
            "description": "Typical error response",
            "schema": {
              "$ref": "#/definitions/conversations.historyerrorschema"
            },
            "examples": {
              "application/json": {
                "error": "channel_not_found",
                "ok": "false"
              }
            }
          }
        },
        "security": [
          {
            "auth": ["channels:history", "groups:history", "im:history", "mpim:history"]
          }
        ],
        "externalDocs": {
          "url": "https://api.slack.com/methods/conversations.history",
          "description": "API method documentation"
        }
      }
    },
    "/conversations.info": {
      "get": {
        "description": "Retrieve information about a conversation.",
        "summary": "conversations_info",
        "tags": ["conversations"],
        "operationId": "ConversationsInfoGet",
        "deprecated": false,
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Authentication token. Requires scope: `conversations:read`"
          },
          {
            "name": "channel",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Conversation ID to learn more about"
          },
          {
            "name": "include_locale",
            "in": "query",
            "required": false,
            "type": "boolean",
            "description": "Set this to `true` to receive the locale for this conversation. Defaults to `false`"
          }
        ],
        "responses": {
          "200": {
            "description": "Typical success response for a public channel. (Also, a response from a private channel and a multi-party IM is very similar to this example.)",
            "schema": {
              "$ref": "#/definitions/conversations.infosuccessschema"
            },
            "headers": {}
          },
          "default": {
            "description": "Typical error response when a channel cannot be found",
            "schema": {
              "$ref": "#/definitions/conversations.infoerrorschema"
            },
            "examples": {
              "application/json": {
                "error": "channel_not_found",
                "ok": "false"
              }
            }
          }
        },
        "security": [
          {
            "auth": ["channels:read", "groups:read", "im:read", "mpim:read"]
          }
        ],
        "externalDocs": {
          "url": "https://api.slack.com/methods/conversations.info",
          "description": "API method documentation"
        }
      }
    },
    "/conversations.invite": {
      "post": {
        "description": "Invites users to a channel.",
        "summary": "conversations_invite",
        "tags": ["conversations"],
        "operationId": "ConversationsInvitePost",
        "deprecated": false,
        "produces": ["application/json"],
        "consumes": ["application/x-www-form-urlencoded"],
        "parameters": [
          {
            "name": "token",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "Authentication token. Requires scope: `conversations:write`"
          },
          {
            "name": "users",
            "in": "formData",
            "required": false,
            "type": "string",
            "description": "A comma separated list of user IDs. Up to 30 users may be listed."
          },
          {
            "name": "channel",
            "in": "formData",
            "required": false,
            "type": "string",
            "description": "The ID of the public or private channel to invite user(s) to."
          }
        ],
        "responses": {
          "200": {
            "description": "Typical success response when an invitation is extended",
            "schema": {
              "$ref": "#/definitions/conversations.inviteerrorschema"
            },
            "headers": {}
          },
          "default": {
            "description": "Typical error response when an invite is attempted on a conversation type that does not support it",
            "schema": {
              "$ref": "#/definitions/conversations.inviteerrorschema1"
            },
            "examples": {
              "application/json": {
                "error": "method_not_supported_for_channel_type",
                "ok": "false"
              }
            }
          }
        },
        "security": [
          {
            "auth": ["channels:write", "groups:write", "im:write", "mpim:write"]
          }
        ],
        "externalDocs": {
          "url": "https://api.slack.com/methods/conversations.invite",
          "description": "API method documentation"
        }
      }
    },
    "/conversations.join": {
      "post": {
        "description": "Joins an existing conversation.",
        "summary": "conversations_join",
        "tags": ["conversations"],
        "operationId": "ConversationsJoinPost",
        "deprecated": false,
        "produces": ["application/json"],
        "consumes": ["application/x-www-form-urlencoded"],
        "parameters": [
          {
            "name": "token",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "Authentication token. Requires scope: `channels:write`"
          },
          {
            "name": "channel",
            "in": "formData",
            "required": false,
            "type": "string",
            "description": "ID of conversation to join"
          }
        ],
        "responses": {
          "200": {
            "description": "Typical success response",
            "schema": {
              "$ref": "#/definitions/conversations.joinsuccessschema"
            },
            "headers": {}
          },
          "default": {
            "description": "Typical error response if the conversation is archived and cannot be joined",
            "schema": {
              "$ref": "#/definitions/conversations.joinerrorschema"
            },
            "examples": {
              "application/json": {
                "error": "is_archived",
                "ok": "false"
              }
            }
          }
        },
        "security": [
          {
            "auth": ["channels:write"]
          }
        ],
        "externalDocs": {
          "url": "https://api.slack.com/methods/conversations.join",
          "description": "API method documentation"
        }
      }
    },
    "/conversations.kick": {
      "post": {
        "description": "Removes a user from a conversation.",
        "summary": "conversations_kick",
        "tags": ["conversations"],
        "operationId": "ConversationsKickPost",
        "deprecated": false,
        "produces": ["application/json"],
        "consumes": ["application/x-www-form-urlencoded"],
        "parameters": [
          {
            "name": "token",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "Authentication token. Requires scope: `conversations:write`"
          },
          {
            "name": "user",
            "in": "formData",
            "required": false,
            "type": "string",
            "description": "User ID to be removed."
          },
          {
            "name": "channel",
            "in": "formData",
            "required": false,
            "type": "string",
            "description": "ID of conversation to remove user from."
          }
        ],
        "responses": {
          "200": {
            "description": "Typical success response",
            "schema": {
              "$ref": "#/definitions/conversations.kicksuccessschema"
            },
            "examples": {
              "application/json": {
                "ok": "true"
              }
            },
            "headers": {}
          },
          "default": {
            "description": "Typical error response when you attempt to kick yourself from a channel",
            "schema": {
              "$ref": "#/definitions/conversations.kickerrorschema"
            },
            "examples": {
              "application/json": {
                "error": "cant_kick_self",
                "ok": "false"
              }
            }
          }
        },
        "security": [
          {
            "auth": ["channels:write", "groups:write", "im:write", "mpim:write"]
          }
        ],
        "externalDocs": {
          "url": "https://api.slack.com/methods/conversations.kick",
          "description": "API method documentation"
        }
      }
    },
    "/conversations.leave": {
      "post": {
        "description": "Leaves a conversation.",
        "summary": "conversations_leave",
        "tags": ["conversations"],
        "operationId": "ConversationsLeavePost",
        "deprecated": false,
        "produces": ["application/json"],
        "consumes": ["application/x-www-form-urlencoded"],
        "parameters": [
          {
            "name": "token",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "Authentication token. Requires scope: `conversations:write`"
          },
          {
            "name": "channel",
            "in": "formData",
            "required": false,
            "type": "string",
            "description": "Conversation to leave"
          }
        ],
        "responses": {
          "200": {
            "description": "Typical success response",
            "schema": {
              "$ref": "#/definitions/conversations.leavesuccessschema"
            },
            "examples": {
              "application/json": {
                "ok": "true"
              }
            },
            "headers": {}
          },
          "default": {
            "description": "Typical error response when attempting to leave a workspace's \"general\" channel",
            "schema": {
              "$ref": "#/definitions/conversations.leaveerrorschema"
            },
            "examples": {
              "application/json": {
                "error": "cant_leave_general",
                "ok": "false"
              }
            }
          }
        },
        "security": [
          {
            "auth": ["channels:write", "groups:write", "im:write", "mpim:write"]
          }
        ],
        "externalDocs": {
          "url": "https://api.slack.com/methods/conversations.leave",
          "description": "API method documentation"
        }
      }
    },
    "/conversations.list": {
      "get": {
        "description": "Lists all channels in a Slack team.",
        "summary": "conversations_list",
        "tags": ["conversations"],
        "operationId": "ConversationsListGet",
        "deprecated": false,
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Paginate through collections of data by setting the `cursor` parameter to a `next_cursor` attribute returned by a previous request's `response_metadata`. Default value fetches the first \"page\" of the collection. See [pagination](/docs/pagination) for more detail."
          },
          {
            "name": "token",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Authentication token. Requires scope: `conversations:read`"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "description": "The maximum number of items to return. Fewer than the requested number of items may be returned, even if the end of the list hasn't been reached. Must be an integer no larger than 1000."
          },
          {
            "name": "exclude_archived",
            "in": "query",
            "required": false,
            "type": "boolean",
            "description": "Set to `true` to exclude archived channels from the list"
          },
          {
            "name": "types",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Mix and match channel types by providing a comma-separated list of any combination of `public_channel`, `private_channel`, `mpim`, `im`"
          }
        ],
        "responses": {
          "200": {
            "description": "Typical success response with only public channels",
            "schema": {
              "$ref": "#/definitions/conversations.listsuccessschema"
            },
            "headers": {}
          },
          "default": {
            "description": "Typical error response",
            "schema": {
              "$ref": "#/definitions/conversations.listerrorschema"
            },
            "examples": {
              "application/json": {
                "error": "invalid_auth",
[...]
