{
  "env": {
    "development": {
      "presets": [
        ["@mcro/babel-preset-motion", { "disable": ["@babel/preset-env"] }]
      ]
    },
    "production": {
      "presets": [["@mcro/babel-preset-motion"]]
    }
  }
}
