body {
  line-height: 1.65rem;
  overflow-x: hidden;
}

p,
blockquote {
  margin-bottom: 1.5rem;
}

blockquote {
  line-height: 2rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-left: 0.32813rem solid #eee;
}

li {
  margin-bottom: 0rem;
}

li > ul {
  margin-top: 0rem;
}

li > p {
  margin-bottom: 0rem;
}

ul,
ol {
  padding-left: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 2.5rem;
}

.post h3 {
  font-weight: 500;
}

.anchor {
  text-decoration: none;
  box-shadow: none;
}

.icon {
  width: 10%;
}

.demo-image {
  max-height: 80vw;
  height: calc(821px / 1.5);
  background: url(../pages/update-one/demo.jpg) no-repeat center center;
  background-size: contain;
  transform-origin: top left;
  margin: -60px -5% -40px;
}

.alt {
  font-size: 12px;
  text-align: center;
  margin: -1.5rem 0 1.5rem;
  opacity: 0.5;
}

.graphic {
  margin: 2.5rem -20%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #ccc;
}

.graphic img {
  margin-bottom: -7px;
}
