{
  "env": {
    "development": {
      "presets": [
        [
          "@o/babel-preset-motion",
          { "disable": ["@babel/plugin-transform-react-inline-elements"] }
        ]
      ]
    },
    "production": {
      "presets": [
        [
          "@o/babel-preset-motion",
          {
            "disable": [
              "react-hot-loader/babel",
              "@babel/plugin-transform-react-inline-elements"
            ]
          }
        ]
      ]
    }
  }
}
