{
  "presets": [
    "babel-preset-expo",
  ],
  "env": {
    "development": {
      "plugins": [
        "transform-react-jsx-source",
        [
          "gloss/transform",
          {
            "decoratorName": "view"
          }
        ],
        "babel-plugin-jsx-if",
        [
          "babel-plugin-root-import",
          {
            "rootPathSuffix": "app"
          }
        ]
      ]
    }
  }
}
