{
  env: {
    development: {
      presets: [
        [
          '@mcro/babel-preset-motion',
          {
            disable: ['@mcro/gloss/transform'],
          },
        ],
      ],
    },
    production: {
      presets: [
        [
          '@mcro/babel-preset-motion',
          {
            targets: { electron: '2.0.0' },
            disable: ['@mcro/gloss/transform'],
          },
        ],
      ],
    },
  },
}
