{
  "env": {
    "development": {
      "presets": [
        [
          "@mcro/babel-preset-motion",
          {
            "disable": ["@mcro/gloss/transform"]
          }
        ]
      ]
    },
    "production": {
      "presets": [
        [
          "@mcro/babel-preset-motion",
          {
            "targets": { "electron": "1.8.2" },
            "disable": ["@mcro/gloss/transform"]
          }
        ]
      ]
    }
  }
}
