{
  "extends": "../../.babelrc",
  "env": {
    "development": {
      "presets": [
        [
          "@mcro/preset-motion",
          {
            "disable": ["@mcro/hmr", "@mcro/hmr-view", "@mcro/gloss/transform"]
          }
        ]
      ]
    }
  }
}
