.react-grid-layout {
  /* lets you always have space at the bottom to drag taller */
  margin-bottom: 200px;
}

.react-grid-item {
  display: flex;
  position: relative;
  z-index: 100000;
}

.react-grid-item.react-grid-placeholder {
  opacity: 0.1;
}

.react-grid-item.react-draggable-dragging,
.react-grid-item.resizing {
  z-index: 300000000000;
}
