storage: /tmp/.verdaccio-storage
plugins: ./plugins
max_body_size: 1000mb

web:
  title: Verdaccio

auth:
  htpasswd:
    file: ./htpasswd

packages:
  '@*/*':
    # scoped packages
    access: $all
    publish: $all
    proxy: npmjs

  '**':
    access: $all
    publish: $authenticated
    proxy: npmjs

middlewares:
  audit:
    enabled: true

logs:
  - { type: stdout, format: pretty, level: warn }
